<h1 class="animated fadeIn fast">Comics App</h1>
<hr>
<p class="animated fadeIn">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem in animi laboriosam delectus. Nemo pariatur itaque natus
  sapiente eaque, ullam molestiae iure distinctio exercitationem, tempora sed ad eum et aperiam. Lorem ipsum dolor sit amet
  consectetur, adipisicing elit. Nihil, quia labore, ullam incidunt delectus nemo aut error amet alias quod non harum architecto
  eius optio. Velit placeat neque totam nemo.</p>